<div class="container text-center">

<h1><%= @task.name %></h1>

<p><%= @task.details %></p>

<div class="d-block">
<%= link_to "Back to all Tasks", index_path, class:"btn btn-primary" %>

<%= link_to "Do you want to update?",update_path(params[:id]), class:"btn btn-success" %>

<%= link_to "Delete", task_path(@task), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class:"btn btn-danger" %>
</div>

</div>
